
<div class="contact-container">
  <div class="inside-contact-container">
  <h1>How To Contact Me</h1>
    <h3>Email: kadicahps@gmail.com</h3>
    <p>Check Out My GitHub & LinkedIn</p>
    <a href="https://github.com/KadicAjas96" target="_blank">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdNZr-5JKjI084xZ1R2OZb3txdbriL3ICWg6Z5YA7oUfUxE8QI&s" alt="Github"
    style="width: 120px; height: 120;">
    </a>
        <a href="https://www.linkedin.com/in/ajas-kadic-950799194/" target="_blank">
    <img src="https://image.flaticon.com/icons/svg/124/124011.svg" alt="LinkedIn"
    style="width: 120px; height: 120;">
    </a>
</div>
</div>
