.contact-container {
width: 1120px;
height: 640px;
display: flex;
padding: 10px;
box-sizing: border-box;
flex-direction: row;
display: center;
}

.inside-contact-container {
  flex: 1;
  background: rgb(12, 12, 12, .4);
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: white;
  font-size: 14px;
}