
<div class="skills">
  <h3 style="background-color: #555;">Skills</h3>
  <hr>
  <ul>
    <li> HTML5</li>
    <li> CSS3</li>
    <li>JavaScript</li>
    <li>TypeScript</li>
    <li>Python</li>
    <li> PHP </li>
    <li>MySQL</li>
    <li> Github </li>
    <li> Google Cloud </li>
    <li> Angular 8 </li>
    <li> Bootstrap </li>
    <li> NPM + Node </li>
    <li>Git</li>
    <li> Bash </li>
    <li> Linux </li>
    <li> Microsoft Office Suite </li>
  </ul>
</div>

<div class="about">
  <h3 style="background-color: #555;">Who am I?</h3>
  <hr>
    <p>Highly motivated and versatile leader capable of adapting to any environment. Currently, I am a student at Year Up studying Software Development and Testing. I am proficient in HTML, CSS, and JavaScript. My goal is to sharpen my professional skills, and eventually become a Jr. Developer. Outside of school, I am an entrepreneur with his own cleaning business, who enjoys taking on challenges and searching for new ways to solve problems. Also, I strongly pride myself in my communication skills and coach able attitude.</p>
      <ul>
        <li>Born In Bosnia & Herzegovina
        <li>Moved To Seattle When I Was 3 Years Old
        <li>Loyal Los Angeles Lakers Fan since 2001
        <li>Seahawks Fan Since The Matt Hasslebeck Days
        <li>Grew Up Playing Basketball With Starting San Antonio Spurs PG Dejounte Murray
      </ul>

</div>
<div class="skills">
  <h3 style="background-color: #555;">Accomplishments</h3>
  <hr>
  <ul>
    <li> Project Plus Certificate</li>
    <li> Scrum Master Certificate</li>
    <li> Microsoft Excel Certificate</li>
    <li> AAS Degree</li>
    <li> Graduated With Honors</li>
    <li> Biliteracy Medal</li>
    <li> Made Varsity Basketball Team Freshmen Year </li>
    <li> Opened 1st Business At 18 Years Old</li>
    <li> Top Rated Cleans on AirBnb</li>
    <li> Closed Up To 12 Deals A Week For Century Link </li>
    <li> Increased Overall Customer Satisfaction Rate By 13%</li>
    <li> Trained 5 Employees</li>
    <li> Mentored 3 Employees & Improved Their Closing Percentages</li>
  </ul>
</div>


