<div class="redux-container">
  <div class="inside-redux-container">
<div class="center">
<p>Angular 8 is a client-side based framework, which is used to create dynamic web applications. The Angular framework consists of:</p>
<br>

  <li>SRC Folder: The files in folder which contain the main code files related to the angular application.</li>
  <li>App Folder: Contains the files you have created for app components,This folder is where we create & name our new components!</li>
  <br>
  <li>app.component.css: Contains cascading style sheets code for your app component</li>
  <li>app component.html: Contains the html code for your app component</li>
  <li>app.component.ts: Contains all the code used by the component to control it's behavior</li>
  <li>app.module.ts: Contains pages your are importing styles & dependencies from</li>
  <li>hello.component.ts: Contains your functionality & logic</li>
  <li>main.ts & polyfills.ts: Are included with angular cli & consist of imports</li>
  <li>angular.json & package.json: Are also included with angular and list dependencies and versions</li>
</div>
