.redux-container {
width: 1000px;
height: 250px;
display: flex;
padding: 10px;
box-sizing: border-box;
flex-direction: row;
display: center;
}

.inside-redux-container {
  flex: 1;
  background: rgb(12, 12, 12, .4);
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: white;
  font-size: 14px;
}
.center{
    width:1080px;
    margin:25 auto;
    text-align:left;
}